* {
    margin: 0 auto;
    padding: 0;
}

body {
    width: 1024px;
    background-color: black;
}

div#main_title {
    font-family: 'Rubik Spray Paint', cursive;
    font-weight: 50;
}

div#main_title a {
    font-size: 30px;
    color: white;
    text-decoration: none;
}

div#text{
    overflow: scroll;
    width: 760px;
    margin-top : 100px;
    margin-left: 130px;
    border: 3px solid white;
    color:white;
}

#container {
    margin-top: 50px;
}

nav {
    margin-bottom: 30px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    font-family: 'Bitter', serif;
    font-size: 17px;
    padding: 10px;
}

nav ul li a {
    height: 100px;
    text-decoration: none;
    color: white;
}

nav ul li:hover {
    border-top: 3px solid white;
}

nav ul li:nth-child(2) {
    border-top: 3px solid white;
}

.slidelist {
    max-height: 1100px;
}

.section {
    max-width: 900px;
}

.section input[id*="slide"] {
    display: none;
}

.section .slidewrap {
    max-width: 800px;
}

.section .slidelist {
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
    position: relative;
}

.section .slidelist li {
    display: inline-block;
    vertical-align: middle;
    transition: all .5s;
}

.section .slidelist li a {
    display: block;
    position: relative;
}

.section .slidelist li a img {
    width: 100%;
}

.section .slidelist label {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.slide-pagelist {
    text-align: center;
    padding: 20px;
}

.slide-pagelist li {
    display: inline-block;
    vertical-align: middle;
}

.slide-pagelist li label {
    display: block;
    padding: 8px 30px;
    border-radius: 30px;
    background: #ccc;
    margin: 5px 5px;
    cursor: pointer;
}

.section input[id="slide01"]:checked~.slidewrap .slidelist li {transform: translateX(0%);}
.section input[id="slide02"]:checked~.slidewrap .slidelist li {transform: translateX(-100%);}
.section input[id="slide03"]:checked~.slidewrap .slidelist li {transform: translateX(-200%);}
.section input[id="slide04"]:checked~.slidewrap .slidelist li {transform: translateX(-300%);}
.section input[id="slide05"]:checked~.slidewrap .slidelist li {transform: translateX(-400%);}
.section input[id="slide06"]:checked~.slidewrap .slidelist li {transform: translateX(-500%);}
.section input[id="slide07"]:checked~.slidewrap .slidelist li {transform: translateX(-600%);}
.section input[id="slide08"]:checked~.slidewrap .slidelist li {transform: translateX(-700%);}
.section input[id="slide09"]:checked~.slidewrap .slidelist li {transform: translateX(-800%);}
.section input[id="slide10"]:checked~.slidewrap .slidelist li {transform: translateX(-900%);}

.section input[id="slide01"]:checked~.slidewrap .slide-control div:nth-child(1) {display: block;}
.section input[id="slide02"]:checked~.slidewrap .slide-control div:nth-child(2) {display: block;}
.section input[id="slide03"]:checked~.slidewrap .slide-control div:nth-child(3) {display: block;}
.section input[id="slide04"]:checked~.slidewrap .slide-control div:nth-child(4) {display: block;}
.section input[id="slide05"]:checked~.slidewrap .slide-control div:nth-child(5) {display: block;}
.section input[id="slide06"]:checked~.slidewrap .slide-control div:nth-child(6) {display: block;}
.section input[id="slide07"]:checked~.slidewrap .slide-control div:nth-child(7) {display: block;}
.section input[id="slide08"]:checked~.slidewrap .slide-control div:nth-child(8) {display: block;}
.section input[id="slide09"]:checked~.slidewrap .slide-control div:nth-child(9) {display: block;}
.section input[id="slide10"]:checked~.slidewrap .slide-control div:nth-child(10) {display: block;}

.section input[id="slide01"]:checked~.slidewrap .slide-pagelist li:nth-child(1) label {background: #999;}
.section input[id="slide02"]:checked~.slidewrap .slide-pagelist li:nth-child(2) label {background: #999;}
.section input[id="slide03"]:checked~.slidewrap .slide-pagelist li:nth-child(3) label {background: #999;}
.section input[id="slide04"]:checked~.slidewrap .slide-pagelist li:nth-child(4) label {background: #999;}
.section input[id="slide05"]:checked~.slidewrap .slide-pagelist li:nth-child(5) label {background: #999;}
.section input[id="slide06"]:checked~.slidewrap .slide-pagelist li:nth-child(6) label {background: #999;}
.section input[id="slide07"]:checked~.slidewrap .slide-pagelist li:nth-child(7) label {background: #999;}
.section input[id="slide08"]:checked~.slidewrap .slide-pagelist li:nth-child(8) label {background: #999;}
.section input[id="slide09"]:checked~.slidewrap .slide-pagelist li:nth-child(9) label {background: #999;}
.section input[id="slide10"]:checked~.slidewrap .slide-pagelist li:nth-child(10) label {background: #999;}

footer {
    color: white;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}