* {
    margin: 0 auto;
    padding: 0;
}

body {
    width: 1024px;
    background-color: black;
}

#main_title {
    font-family: 'Rubik Spray Paint', cursive;
    font-weight: 50;
}

div#main_title a {
    font-size: 30px;
    color: white;
    text-decoration: none;
}

#container {
    margin-top: 50px;
}

nav {
    margin-bottom: 30px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    font-family: 'Bitter', serif;
    font-size: 17px;
    padding-top: 10px;
}

nav ul li a {
    height: 100%;
    text-decoration: none;
    color: white;
}

nav ul li:hover {
    border-top: 3px solid white;
}

footer {
    color: white;
    margin-top: 110px;
    text-align: center;
}